* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffcf2;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 70px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.16);
  background-color: #0b6161;
}
nav > a {
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: #cecac8;
  font-size: 1rem;
  font-weight: bold;
  padding: 13px 40px;
  transition: all 0.6ms ease-in-out;
  text-transform: uppercase;
  background-color: #0b6161;
}
nav a:hover {
  color: white;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  background-color: #0b6161;
}
/* 
p.blog {
  margin: 100px 370px;
  color: #403d39;
}
div.intro {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
  color: #403d39;
}

div.intro img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

div.description {
  padding: 100px;
}

div.description p {
  font-size: 1.2rem;
}
div.description span {
  font-size: 5rem;
  color: #eb5e28;
} */

main {
  position: relative;
}

main img {
  width: 100%;
  height: 85vh;
}

main h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #fff;
  font-size: 4rem;
  letter-spacing: 1rem;
}

/* FOOTER */
footer {
  
  background-color: #0b6161;
  width: 100%;

  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
}

footer div{
  
  background-color: #0b6161;
}
footer a {
  font-size: 1.2rem;
  margin: 0 1rem;
  text-decoration: none;
  background-color: #0b6161;
  color: rgb(218, 212, 212);
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

footer b {
  background-color: #0b6161;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
  color: rgb(218, 212, 212);
}